/* ==========================================================================
   Blog List - Centered responsive style - begin
   ========================================================================== */

.eltdf-blog-holder {
    
    &.eltdf-blog-centered {

        @include laptop-landscape {
            width: 80%;
        }

        @include ipad-portrait {
            width: 100%;
            
            article {
                
                .eltdf-post-info-bottom {
                    margin-top: 0;
                    padding: 0;
                }
                
                .eltdf-info-bottom-item {
                    display: block;
                    width: 100%;
                    margin: 20px 0;
                    text-align: center !important;
                }
            }
        }
    }
}
/* ==========================================================================
   Blog List - Centered responsive style - end
   ========================================================================== */