/* #Reset default styles - start
   ========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: none;
}

article, aside, details, figcaption, figure, footer, header, nav, section {
    display: block;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: medium none;
    vertical-align: middle;
}

table th {
    border: 0;
    padding: 5px 7px;
    text-align: center;
}

table td {
    padding: 5px 10px;
    text-align: center;
}

a {
    cursor: pointer;
}

a img {
    border: none;
}

img, .wp-caption {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width: 100%;
}

/* #Reset default styles - end
   ========================================================================== */

/* #General styles that are used in our theme - start
 * Here are defined global styles on body element, on container elements that hold every page,
 * headings and links, inputs, core wp styles and default pagination styles
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.clear:after {
    clear: both;
    content: "";
    display: block;
}

html {
    overflow-y: scroll !important; /* for vertical split screen slider shortcode on touch devices */
}

body {
    font-family: $default-text-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $default-text-color;
    background-color: $default-background-color;
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 75px;
    font-weight: 800;
    line-height: 1.2em;
}

h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2em;
}

h3 {
    font-size: 35px;
    font-weight: 800;
    line-height: 1.1428em;
}

h4 {
    font-size: 23px;
    font-weight: 800;
    line-height: 1.3913em;
}

h5 {
    font-size: 17px;
    font-weight: 800;
    line-height: 1.41176em;
}

h6 {
	font-size: 15px;
    font-weight: 600;
    line-height: 1.33333em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0;
    color: $default-heading-color;
    font-family: $second-font;
    
    a {
        @include eltdfTypographyLayout();
        
        &:hover {
            color: $first-main-color;
        }
    }
}

a,
p a {
    color: $default-heading-color;
    text-decoration: none;
    @include eltdfTransition(color .2s ease-out);

    &:hover {
        color: $first-main-color;
    }
}

p {
    margin: 10px 0;
}

input[type='submit'] {
    -webkit-appearance: none;
}

ul, ol {
    list-style-position: inside;
    margin: 15px 0;
}

ul ul,
ol ol,
ol ul,
ul ol {
    margin: 0;
    padding: 0 0 0 15px;
}

pre {
    background-color: $default-background-color;
    padding: 15px;
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 15px 0;
}

dt {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

dd {
    margin-bottom: 15px;
}

sub, sup {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    top: 0.5ex;
}

sup {
    bottom: 0.5ex;
}

.wp-caption-text {
    margin: 0;
    font-style: italic;
}

table {
    width: 100%;
}

table thead tr, table tbody tr {
    border: 1px solid $default-border-color;
}

table tbody th {
    border-right: 1px solid $default-border-color;
}

blockquote {
    @include eltdfRelativeHolderLayout();
    margin: 15px 0;
    padding: 0 0 0 54px;
    color: $default-heading-color;
    font-size: 20px;
    line-height: 31px;
    font-family: $second-font;
    font-style: italic;
    text-align: left;
    quotes: none;
    box-sizing: border-box;

    > * {
        @include eltdfTypographyLayout();
        margin: 0;
    }

    &:after {
        content: '';
    }

    &:before{
    	content: '\2ee';
    	position: absolute;
    	top: 15px;
    	left: 0;
    	font-size: 70px;
		font-style: normal;
		font-weight: 700;
    }

	cite {
		font-style: normal;
		font-weight: 400;
	}
}

/* Webkit */
::selection {
    background: $first-main-color;
    color: $default-background-color;
}

/* Gecko/Mozilla */
::-moz-selection {
    background: $first-main-color;
    color: $default-background-color;
}

.wp-caption,
.wp-caption-text,
.sticky,
.gallery-caption,
.bypostauthor {
    opacity: 1;
}

.alignleft {
    float: left;
    margin: 0 20px 20px 0;
}

.alignright {
    float: right;
    margin: 0 0 20px 20px;
}

.aligncenter {
    display: block;
    margin: 10px auto;
}

.alignwide {
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

@include ipad-landscape {

    .alignwide {
        width: 100%;
        max-width: 100%;
    }
}

.alignfull {
    position: relative;
    left: -1rem;
    width: calc( 100% + (2 * 1rem));
    max-width: calc( 100% + (2 * 1rem));
    clear: both;
}

@include ipad-landscape {

    .alignfull {
        left: calc( -12.5% - 75px);
        width: calc( 125% + 150px);
        max-width: calc( 125% + 150px);
        margin-top: calc(2 * 1rem);
        margin-bottom: calc(2 * 1rem);
    }
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.eltdf-scroll-disabled{
	overflow: hidden !important;
}

.eltdf-wrapper {
    position: relative;
    left: 0;
    z-index: 1000;

    .eltdf-wrapper-inner {
        width: 100%;
        overflow: hidden;
    }
}

.eltdf-content {
    position: relative;
    margin-top: 0;
    z-index: 100;
    background-color: $default-background-color; /*this is needed because of the uncovering footer*/
}

.eltdf-boxed {
    overflow: hidden !important; /* this is because content jumping while using accordion and display:inline-block on 'body.eltdf-boxed .eltdf-wrapper'   */

    .eltdf-wrapper {
        display: inline-block;
        vertical-align: middle;
        width: 100%;

        .eltdf-wrapper-inner {
            width: $grid-width-boxed;
            overflow: visible;
            margin: auto;
        }
    }

    .eltdf-content {
        overflow: hidden;
    }

    .eltdf-footer-inner {
        width: $grid-width-boxed;
        margin: auto;
    }

    .eltdf-page-header .eltdf-sticky-header,
    .eltdf-page-header .eltdf-fixed-wrapper.fixed {
        width: $grid-width-boxed;
        left: auto;
    }
}

.eltdf-paspartu-enabled {

    .eltdf-wrapper {
        padding: 10px;
        background-color: #fff;
        box-sizing: border-box;
    }

    &.eltdf-top-paspartu-disabled {

        .eltdf-wrapper {
            padding-top: 0 !important;
        }
    }
}

.eltdf-smooth-transition-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    background-color: #fff;
}

.eltdf-container {
    background-color: #fff; //beacuse of the Elated Slider, since content have to go over it
    position: relative;
    padding: 0;
    width: 100%;
    z-index: 100;

    &:before {
        content: " ";
        display: table;
    }

    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

.eltdf-container-inner { //not in parent selector since this class is used for positioning other elements in grid
    width: $grid-width;
    margin: 0 auto;
}

.eltdf-full-width {
    position: relative;
    z-index: 100;
}

.eltdf-content .eltdf-content-inner > .eltdf-container > .eltdf-container-inner,
.eltdf-content .eltdf-content-inner > .eltdf-full-width > .eltdf-full-width-inner {
	padding-top: 40px; // default value for content top padding
}

@media only screen and (min-width: 1400px) {

    .eltdf-grid-1300 {

        .eltdf-grid,
        .eltdf-container-inner,
        .eltdf-row-grid-section,
        .eltdf-footer-top-border-holder.eltdf-in-grid,
        .eltdf-footer-bottom-border-holder.eltdf-in-grid {
            width: $grid-width-1300;
        }
    }

    .eltdf-grid-1300.eltdf-boxed {

        .eltdf-footer-inner,
        .eltdf-wrapper-inner {
            width: $grid-width-1300 + 50px;
        }

        .eltdf-page-header .eltdf-sticky-header,
        .eltdf-page-header .eltdf-fixed-wrapper.fixed {
            width: $grid-width-1300 + 50px;
            left: auto;
        }
    }
}

@media only screen and (min-width: 1300px) {

    .eltdf-grid-1200 {

        .eltdf-grid,
        .eltdf-container-inner,
        .eltdf-row-grid-section,
        .eltdf-footer-top-border-holder.eltdf-in-grid,
        .eltdf-footer-bottom-border-holder.eltdf-in-grid {
            width: $grid-width-1200;
        }
    }

    .eltdf-grid-1200.eltdf-boxed {

        .eltdf-footer-inner,
        .eltdf-wrapper-inner {
            width: $grid-width-1200 + 50px;
        }

        .eltdf-page-header .eltdf-sticky-header,
        .eltdf-page-header .eltdf-fixed-wrapper.fixed {
            width: $grid-width-1200 + 50px;
            left: auto;
        }
    }
}

@media only screen and (min-width: 1200px) {

    .eltdf-grid-1000 {

        .eltdf-grid,
        .eltdf-container-inner,
        .eltdf-row-grid-section,
        .eltdf-footer-top-border-holder.eltdf-in-grid,
        .eltdf-footer-bottom-border-holder.eltdf-in-grid {
            width: $grid-width-1000;
        }
    }

    .eltdf-grid-1000.eltdf-boxed {

        .eltdf-footer-inner,
        .eltdf-wrapper-inner {
            width: $grid-width-1000 + 50px;
        }

        .eltdf-page-header .eltdf-sticky-header,
        .eltdf-page-header .eltdf-fixed-wrapper.fixed {
            width: $grid-width-1000 + 50px;
            left: auto;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .eltdf-grid-800 {

        .eltdf-grid,
        .eltdf-container-inner,
        .eltdf-row-grid-section,
        .eltdf-footer-top-border-holder.eltdf-in-grid,
        .eltdf-footer-bottom-border-holder.eltdf-in-grid {
            width: $grid-width-800;
        }
    }

    .eltdf-grid-800.eltdf-boxed {

        .eltdf-footer-inner,
        .eltdf-wrapper-inner {
            width: $grid-width-800 + 50px;
        }

        .eltdf-page-header .eltdf-sticky-header,
        .eltdf-page-header .eltdf-fixed-wrapper.fixed {
            width: $grid-width-800 + 50px;
            left: auto;
        }
    }
}

/* #General styles that are used in our theme - end
   ========================================================================== */

@include keyframes(preload-background) {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.eltdf-preload-background {
    background-repeat: repeat !important;
    background-color: transparent !important;
    background-attachment: scroll !important;
    background-size: inherit !important;
    @include animation(preload-background, 40s, infinite, linear, 0s);
}

.eltdf-grid {
    width: $grid-width;
    margin: 0 auto;
}

.eltdf-vertical-align-containers {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;

    &.eltdf-25-50-25 {

        .eltdf-position-left,
        .eltdf-position-right {
            width: 25%;
        }

        .eltdf-position-center {
            width: 50%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

    }

    &.eltdf-33-33-33 {

        .eltdf-position-left,
        .eltdf-position-center,
        .eltdf-position-right {
            width: 33.33%;
        }

        .eltdf-position-center {
            width: 50%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

    }

    &.eltdf-50-50 {

        .eltdf-position-left,
        .eltdf-position-right {
            width: 50%;
        }

    }

    &.eltdf-33-66 {
        .eltdf-position-left {
            width: 33.33%;
        }

        .eltdf-position-right {
            width: 66.66%;
        }
    }

    &.eltdf-66-33 {
        .eltdf-position-left {
            width: 66.66%;
        }

        .eltdf-position-right {
            width: 33.33%;
        }
    }

    .eltdf-position-left {
        position: relative;
        float: left;
        z-index: 2;
        height: 100%;
    }
    .eltdf-position-center {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        text-align: center;
        z-index: 1;
    }

    .eltdf-position-right {
        position: relative;
        float: right;
        z-index: 2;
        height: 100%;
        text-align: right;
    }

    .eltdf-position-left-inner,
    .eltdf-position-center-inner,
    .eltdf-position-right-inner {
        vertical-align: middle;
        display: inline-block;
    }


    .eltdf-position-left:before,
    .eltdf-position-center:before,
    .eltdf-position-right:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        margin-right: 0; /* adjusts for spacing */
    }
}

/* ==========================================================================
   #Row styles - start
   ========================================================================== */

.eltdf-row-grid-section {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    z-index: 20;
}

.eltdf-content-aligment-left {
    text-align: left;
}

.eltdf-content-aligment-center {
    text-align: center;
}

.eltdf-content-aligment-right {
    text-align: right;
}

.vc_row .wpb_gmaps_widget .wpb_wrapper {
    padding: 0;
    background-color: transparent;
}

/*visual composer override styles*/
.wpb_row,
.wpb_content_element,
ul.wpb_thumbnails-fluid > li,
.last_toggle_el_margin, .wpb_button {
	margin-bottom: 0 !important; // important is in order to prevent visual composer styles in all cases
}

.eltdf-row-has-shape{
	position: relative;
	overflow: visible !important;

	.eltdf-row-angled-bckg{
        position: absolute;
        width: 100%;
        height: 128%;
        top: -14%;
        left: 0;
        overflow: hidden;

        &.eltdf-angled-left-to-right{
            @include eltdfTransform(skewY(-9.3deg));

        	.eltdf-angled-bckg-inner{
            	@include eltdfTransform(scaleY(1.01) skewY(9.3deg));
        	}
        }

        &.eltdf-angled-right-to-left{
            @include eltdfTransform(skewY(9.3deg));

        	.eltdf-angled-bckg-inner{
            	@include eltdfTransform(scaleY(1.01) skewY(-9.3deg));
        	}
        }

        .eltdf-angled-bckg-inner{
            position: absolute;
            width: 100%;
            height: 200%; //so it fills angled parts
            top: -50%;
            left: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
	}
}

.eltdf-angled-shape {
	position: absolute;
	left: 0;
	z-index: 20;
	display:block;

	&.eltdf-svg-top {
		top: -184px;
	}

	&.eltdf-svg-bottom {
		bottom: -184px;
	}

	polygon{
		fill: #fff;
	}
}

/* ==========================================================================
   #Row styles - end
   ========================================================================== */

/* ==========================================================================
   #Screen reader text - begin
   ========================================================================== */

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    
    &:focus {
	    clip: auto !important;
	    display: block;
	    top: 5px;
	    left: 5px;
	    width: auto;
	    height: auto;
	    padding: 15px 23px 14px;
	    color: #21759b;
	    font-size: 14px;
	    font-weight: bold;
	    line-height: normal;
	    text-decoration: none;
	    background-color: $shortcode-background-color;
	    border-radius: 3px;
	    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        z-index: 100000; /* Above WP toolbar. */
    }
}
/* ==========================================================================
   #Screen reader text - end
   ========================================================================== */