/* ==========================================================================
   Footer responsive style - begin
   ========================================================================== */

@include ipad-landscape {
    
    .eltdf-page-footer {
        
        .eltdf-column-content {
	        
	        @media only screen and (min-width: $ipad-portrait-plus-pixel) {
		
		        &.eltdf-grid-col-3 {
			        width: 50%;
					float: left;
			        
			        &:nth-child(2n+1) {
				        clear: both;
			        }
		        }
		
		        &.eltdf-grid-col-4 {
			        width: 33.33333333333333%;
			        float: left;
		        }
	        }
        }
    }
}

@include ipad-portrait {

    .eltdf-page-footer {

        .eltdf-column-content {
            
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
    }
}
/* ==========================================================================
   Footer responsive style - end
   ========================================================================== */