.eltdf-blog-list-holder {
    &.eltdf-bl-boxed {

        &:not(.eltdf-bl-one-column) {

            .eltdf-bl-item {
                float: left;
            }
        }

        $columns_number: ('two', 'three', 'four', 'five');

        @for $i from 0 to length($columns_number) {
            &.eltdf-bl-#{nth($columns_number,$i+1)}-columns {

                .eltdf-bl-item {
                    width: 100% / ($i+2);
                }

                @if ($i > 1) { // set different break point for four and five columns
                    @media only screen and (min-width: $laptop-landscape-plus-pixel) {

                        .eltdf-bl-item {

                            &:nth-child(#{$i+2}n+1) {
                                clear: both;
                            }
                        }
                    }
                } @else {
                    @media only screen and (min-width: $ipad-landscape-plus-pixel) {

                        .eltdf-bl-item {

                            &:nth-child(#{$i+2}n+1) {
                                clear: both;
                            }
                        }
                    }
                }
            }
        }

        .eltdf-post-title {
            margin: 0;
            margin-top: 5px;
        }

        .eltdf-bli-info {
            @include eltdfRelativeHolderLayout();
            margin: 0;
            clear: both;

            > div {
                position: relative;
                display: inline-block;
                vertical-align: top;
                float: left;
                padding: 0 13px 5px 0;

                &:after {
                    position: absolute;
                    top: 0;
                    right: 4px;
                    content: '/';
                }

                &:last-child {
                    padding: 0 0 5px;

                    &:after {
                        display: none;
                    }
                }
            }
        }

        .eltdf-bli-info-top{
        	color: #333;
            margin-top: 25px;

            div{
            	display: inline-block;
            	vertical-align: middle;
                font-family: $first-font;
                font-size: 15px;
                font-weight: 600;

                &:not(:last-child):after{
                	content: ' / ';
                	display: inline-block;
                	margin: 0 3px;
                }
            }
        }

        .eltdf-post-read-more-button a{
        	margin: 0;
        }

        .eltdf-bli-content {
            padding: 40px 30px;
            background-color: #f6f6f6;
        }
    }
}