.eltdf-blog-list-holder {
    &.eltdf-bl-masonry {

        transition: none !important;
        overflow: visible !important;

        .eltdf-blog-list {
            opacity: 0;
            @include eltdfTransition(opacity .2s ease-out);
        }

        .eltdf-bl-item {
            vertical-align: top;
            z-index: 100;
        }

        .eltdf-bl-item,
        .eltdf-bl-grid-sizer {
            width: 100%;
        }

        .eltdf-bl-grid-gutter {
            width: 0;
        }

        $masonry_columns_number: ('two', 'three', 'four', 'five');

        @for $i from 0 to length($masonry_columns_number) {
            &.eltdf-bl-#{nth($masonry_columns_number,$i+1)}-columns {
                $column_width: 100%/($i+2);

                .eltdf-bl-item,
                .eltdf-bl-grid-sizer {
                    width: $column_width;
                }
            }
        }

        .eltdf-post-title {
            margin: 0;
        }

        .eltdf-bli-info {
            @include eltdfRelativeHolderLayout();
            margin: 0;
            clear: both;

            > div {
                position: relative;
                display: inline-block;
                vertical-align: top;
                float: left;
                color: #333;
                padding: 0 13px 5px 0;

                &:after {
                    position: absolute;
                    top: 0;
                    right: 4px;
                    content: '/';
                }

                &:last-child {
                    padding: 0 0 5px;

                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}