/* ==========================================================================
   Footer style - begin
   ========================================================================== */
/* ==========================================================================
   #Content bottom styles - start
   ========================================================================== */
.eltdf-content-bottom {

    .eltdf-content-bottom-inner{
        box-sizing: border-box;
        
        &.eltdf-grid{
            padding: 20px 0;
        }
        
        &.eltdf-full-width{
            padding: 20px 55px;
        }
    }
}

.eltdf-page-footer {
    @include eltdfRelativeHolderLayout();
    z-index: 100;
    box-sizing: border-box;

    .eltdf-footer-top-holder {
        color: #fff;
        @include eltdfRelativeHolderLayout();
        background-color: #333;
        box-sizing: border-box;

        &:only-child{        	
			.eltdf-footer-top-inner{
			    
			    &.eltdf-grid{
			        padding: 126px 0;
			    }
			    
			    &.eltdf-full-width{
			        padding: 126px 55px;
			    }
			}
        }

        .eltdf-footer-top-alignment-center{
            text-align: center;
        }
	    
        .eltdf-footer-top-alignment-left{
            text-align: left;
        }
	    
        .eltdf-footer-top-alignment-right{
            text-align: right;
        }

        .eltdf-footer-top-inner{
            box-sizing: border-box;
	        
            &.eltdf-grid{
                padding: 126px 0 60px;
            }
	        
            &.eltdf-full-width{
                padding: 126px 55px 60px;
            }
        }

		.eltdf-angled-shape{
			polygon{
				fill: #333;
			}
		}

        .widget{

            .eltdf-widget-title-holder{
                background-color: transparent;
                padding: 0;

                .eltdf-widget-title{
                    color: $light-skin-color;
                    position: relative;
                    padding-bottom: 15px;

                    &:after{
                        content: '';
                        position: absolute;
                        width: 26px;
                        height: 5px;
                        background-color: $first-main-color;
                        left: 0%;bottom: 0;

                    }
                }
            }
        }
    }

    .eltdf-footer-bottom-holder {
        @include eltdfRelativeHolderLayout();
        color: #8d8d8d;
        background-color: #333;
        box-sizing: border-box;
        text-align: center;

        .eltdf-footer-bottom-inner {
            box-sizing: border-box;
	        
            &.eltdf-grid {
                padding: 19px 0;
            }
	        
            &.eltdf-full-width {
                padding: 19px 50px;
            }
        }

        .widget{
        	margin-bottom: 0;
        }
    }
}
/* ==========================================================================
   Footer style - end
   ========================================================================== */