/* ==========================================================================
   Top header style - begin
   ========================================================================== */

.eltdf-top-bar-background {
	@include eltdfAbsoluteHolderLayout();
	background-color: $default-heading-color;
	z-index: 101;
}

.eltdf-top-bar {
	@include eltdfRelativeHolderLayout();
	height: 45px;
	color: #fff;
	font-size: 11px;
	background-color: $default-heading-color;
	z-index: 111;
	box-sizing: border-box;

	.eltdf-grid {
		height: 100%;

		.eltdf-vertical-align-containers {
			padding-left: 0;
			padding-right: 0;

			.eltdf-top-bar-in-grid-padding & {
				padding: 0 25px;
			}
		}
	}

	.eltdf-vertical-align-containers {
		
		.eltdf-position-left:before,
		.eltdf-position-right:before {
			margin-right: 0px;
		}
	}

	.eltdf-top-bar-widget-area,
	.eltdf-top-bar-widget-area-inner {
		height: 100%;
	}

	.eltdf-top-bar-widget {
		display: table;
		float: left;
		height: 100%;
		padding-right: 24px;
		margin-bottom: 0;

		&:last-child {
			padding-right: 0;
		}
	}

	.eltdf-top-bar-widget-inner {
		display: table-cell;
		vertical-align: middle;
	}

	.widget{
		.eltdf-icon-with-text.eltdf-iwt-icon-left-from-title .eltdf-iwt-title-text{
			padding-left: 9px;
		}
	}
}

.eltdf-light-header {

	.eltdf-top-bar {
        color: $header-light-color !important; //Beacause of inline color styles

        .widget {
            color: $header-light-color !important; //Beacause of inline color styles

            p,
            a,
            span,
            i,
            .widgettitle {
                color: $header-light-color !important; //Beacause of inline color styles
            }

            a:hover {
                color: $header-light-hover-color !important; //Beacause of inline color styles

                span, i{
                	color: inherit !important;
                	@include eltdfTransition(none); //to prevent transitions from building up
                }
            }
        }
    }
}

.eltdf-dark-header {

	.eltdf-top-bar {
        color: $header-dark-color !important; //Beacause of inline color styles

        .widget {
            color: $header-dark-color !important; //Beacause of inline color styles

            p,
            a,
            span,
            i,
            .widgettitle {
                color: $header-dark-color !important; //Beacause of inline color styles
            }

            a:hover {
                color: $header-dark-hover-color !important; //Beacause of inline color styles

                span, i{
                	color: inherit !important;
                	@include eltdfTransition(none); //to prevent transitions from building up
                }
            }
        }
    }
}
/* ==========================================================================
   Top header style - end
   ========================================================================== */