/* ==========================================================================
   Blog List - Standard style - begin
   ========================================================================== */

.eltdf-blog-holder {
	
    &.eltdf-blog-standard {
	    
        article {
            margin: 0 0 80px;
            padding: 0;

            &.eltdf-post-has-media {
            	.eltdf-post-title{
            		margin-bottom: 30px;
            	}

                .eltdf-post-heading {
                    margin-bottom: 25px;
                }
            }

            .eltdf-post-title {
                margin: 0 0 15px;
            }

            .eltdf-post-excerpt-holder {
                @include eltdfRelativeHolderLayout();
                margin: 0 0 2px;
            }

            .eltdf-more-link-container {
                @include eltdfRelativeHolderLayout();
                margin: 20px 0 0;
            }

            .eltdf-post-info-top {
            	font-size: 14px;
            	font-weight: 600;
                margin-bottom: 6px;
	
	            > div {
		            position: relative;
		            display: inline-block;
		            margin-left: 2px;
		
		            &:first-child {
			            margin-left: 0;
		            }
		
		            span {
			            color: $default-heading-color;
		            }
	            }
            }

            .eltdf-post-info-bottom {
            	font-size: 14px;
            	font-weight: 600;
	            padding-top: 20px;

	            span {
		            color: $default-heading-color;
	            }

                .eltdf-post-info-bottom-holder{
	                position: relative;
	                display: inline-block;
                    line-height: 27px;

                    > div{
                    	display: inline-block;
                    	vertical-align: middle;
                    }
                }
            }

			&.format-quote.has-post-thumbnail,
			&.format-link.has-post-thumbnail{
				.eltdf-post-text{
					position: relative;
					background-position: center;
					background-size: cover;

					.eltdf-post-text-inner{
						position: relative;
						z-index: 5;
					}

					&:after{
						content: '';
						@include eltdfAbsoluteHolderLayout();
						background-color: transparentize($first-main-color, 0.2);
					}
				}
			}

            &.format-audio {
                &.eltdf-post-no-media.has-post-thumbnail {
	            	.eltdf-post-title{
	            		margin-bottom: 30px;
	            	}

                    .eltdf-post-heading {
                        margin-bottom: 25px;
                    }
                }
            }

            &.format-link {
	            
                .eltdf-post-text {
	                padding: 43px 78px 24px;
	                background-color: #333;
                }
	            
                .eltdf-post-text-main {
                    text-align: left;
                }

                .eltdf-post-mark{
                	position: relative;
                	color: #fff;
                    font-size: 24px;
                    margin-bottom: 10px;
                }
	            
                .eltdf-post-title {
                	color: #fff;
                    margin-bottom: 0;

                    a:hover{
                    	color: inherit;
                    }
                }

 	           	.eltdf-post-info-bottom {
 	           		color: #fff;
 	           		padding-top: 77px;

 	           		a,
 	           		span{
 	           			color: #fff;
 	           		}
 	           	}
            }

            &.format-quote {
	            
                .eltdf-post-text {
	                padding: 50px 78px 24px;
	                background-color: #333;
                }
	            
                .eltdf-post-text-main {
                    text-align: left;
                }

                .eltdf-post-mark{
                	position: relative;
                	width: 30px;
                	height: 30px;
                }

                .eltdf-quote-mark {
                	position: absolute;
                	top: 50%;
                    font-size: 70px;
                    color: #fff;
                    font-family: $second-font;
                }
	            
                .eltdf-post-title {
                	color: #fff;
                    margin-bottom: 0;

                    a:hover{
                    	color: inherit;
                    }
                }
	            
                .eltdf-quote-author {
	                display: inline-block;
	                margin: 19px 0 0;
	                color: #fff;
                }

 	           	.eltdf-post-info-bottom {
 	           		color: #fff;
 	           		padding-top: 58px;

 	           		a,
 	           		span{
 	           			color: #fff;
 	           		}
 	           	}
            }
        }
    }
}
/* ==========================================================================
   Blog List - Standard style - end
   ========================================================================== */